/* slider background  */
.container-background {
    background-image: url('../../images/slider/bannerBg.webp');
    background-size: cover;
}

.carousel-text h1 {
    font-size: 80px;
    font-weight: 250px;
}

.carousel-text p {
    font-size: 18px;
}
/* slider button  */
.anchor-container a>img {
    width: 196px;
    height: 57px;
}
/* slider img size  */
.carousel-image {
    width: 576px;
    height: 792px;
}
/* for mobile  */
@media only screen and (max-width: 600px) {
    .carousel-text h1 {
        font-size: 45px;
    }

    .carousel-text p {
        font-size: 17px;
    }

    .anchor-container a>img {
        width: 177px;
        height: 51px;
    }

    .carousel-image {
        display: none;
    }

}
/* for tablet  */
@media only screen and (min-width: 601px) and (max-width: 1023px) {
    .carousel-image {
        display: none;
    }
}